body{
background-color:#bd99ff;
text-align: center;
max-width: 40em;
margin: auto;
padding-top: 3em;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color:#2E196F;
}
header{
    text-align: center;
}
main{
    align-content: center;
    
}
.imagen{
    margin-top: 70px;
}

.boton{
    width: 50%;
    height: 50%;
    vertical-align: middle;
    background-color: #c3b8d5;
    text-align: center;
    line-height: 50px;
    float: left;
    display:inline;
    border: #2E196F;
    border-style: solid 5px;
    
}
.boton:hover{
    background-color: #816EA0;
}
img{
    width: 400px;
    height: 350px;
    margin-top: 30px;
}
#botonListo{
    text-decoration: underline;
}